body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.float_left{
    float: left;
}
.flex_div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: black;
}

header{
    text-align: center;
    min-height: 15vh;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}
header h1{
    padding-top: 3.25vh;
    transition-duration: 0.5s;
}

header:hover h1{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

nav{
    background-color: yellow;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
}
nav ul li a{
    padding: 2em;
}
nav ul li:hover a{
    background-color: red;
}

main{
    padding: 0 5em;
}
main h2{
    text-align: center;
}

#about_main img{
    width: 20%;
    padding: 0 10%;
    margin-bottom: 2em;
}
#about_main p{
    width: 40%;
    margin-bottom: 2em;
}

#blog_main article{
    width: 60vw;
}

#blog_main article h3{
    text-decoration: underline;
}

#top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99999;
    border: 2px solid black;
    border-radius: 10px;
}
#top:hover{
    cursor:pointer;
}

#products_main img{
    height: 300px !important;
    width: 500px !important;
}
